*.vo
*.glob
*.v.d
*.aux
lia.cache
nlia.cache
Makefile.coq
.lia.cache
.nia.cache
CoqMakefile.conf
Makefile.coq.conf
nohup.out
.coqdeps.d

.depend
ml/.merlin
ml/extracted/.merlin
ml/extracted/*.ml
ml/extracted/*.mli
ml/extracted/.timestamp
ml/_build
ml/llvm_printer.ml
ml/llvm_printer.mli
/test.ll

depgraph.vcmd
graph.dot
graph.dpd
graph.svg

experiments/*.hi
experiments/*.o
experiments/test
experiments/mapmain
experiments/map.s
experiments/dywinmain
experiments/dywin.s
