*.vo
*.vio
*.glob
*.v.d
*.aux
lia.cache
nlia.cache
Makefile.coq
.lia.cache
.nia.cache
CoqMakefile.conf
Makefile.coq.conf
nohup.out
.coqdeps.d

.depend
tests/*.ll
tests/*.s
tests/*.o

ml/.merlin
ml/extracted/.merlin
ml/extracted/*.ml
ml/extracted/*.mli
ml/extracted/.timestamp
ml/_build
ml/llvm_printer.ml
ml/llvm_printer.mli

depgraph.vcmd
graph.dot
graph.dpd
graph.svg

experiments/*.hi
experiments/*.o
experiments/test
experiments/mapmain
experiments/map.s
experiments/dywinmain
experiments/dywin.s
/tests/main_pointwise_plusD
/tests/main_pointwise_plus1
/tests/main_binop_plus
/tests/main_compose_pointwise
/tests/main_dynwin64
/tests/main_ireduction
/tests/main_iunion
/tests/main_inductor
/tests/main_sumunion
/.*.tmp
/test.ll
/test.o
/ml/libvellvm
/lib/vellvm
/lib/coq-switch
/lib/metacoq
.nra.cache
