experiments/*.hi
experiments/*.o
experiments/test

*.vo
*.glob
*.v.d
*.aux
depgraph.vcmd
lia.cache
nlia.cache
Makefile.coq
graph.dot
graph.dpd
graph.svg
.lia.cache
.nia.cache
nohup.out
CoqMakefile.conf
Makefile.coq.conf
/experiments/mapmain
/experiments/map.s
